<!DOCTYPE html>
<html>


    <head>
        <%- include('../partials/head'); %>
        <!-- Crear -->
        <link rel="stylesheet" href="../css/crear.css">
    </head>

   <body>

        <header >

            <%- include('../partials/header'); %>
              
        </header>

        <main>

            <div id="divProductsPrincipal"  >

                <div class="col-sm-12 col-md-6 ">
         
                        <img id="imgprincipal" src="/images/productos/<%= producto.image %>" > 
                 
                </div>
                <div class="col-sm-12 col-md-6 templatemo_col12">
                    <span>nombre: <%= producto.name %></span>
                    <span>precio: <%= producto.price%></span>
                    <a href="/products/editar/<%= producto.id %>"> EDITAAAAAR</a>
                    <br>

                    <form action="/products/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" >ELIMINAR</button>
                    </form>
                </div>
        
        
        </div>  
        
             <!--imagen  Principal  del producto end-->
        <div class="clear"></div>
        



        </main>

        <footer>

            <%- include('../partials/footer2'); %>
            
        </footer>

    </body>
   
<html>